@* tempWelcome Template File *@
@(msg: String)

@main("Temperatures") {
	<h2>Temperature Data</h2>
	<p>This should be a cool app in a few days.</p>
	<p>The message of the day is: @msg</p>
	
	<form id="table-form" action="@routes.TempController.tempTable()" method="POST">
	  Month:<input type="text" name="month">
	  Year:<input type="text" name="year">
	  <input type="submit" value="Submit">
	</form>
	
	<img src="@routes.HomeController.plot()" width="800" height="600"/>
	@* This is a Twirl comment. We want to add 1 and 2.  *@
	@defining(1+2) { sum =>
	  <p>The sum is @sum.</p>
	  <p>Using @sum again.</p>
	}
	<p>mlewis@@trinity.edu</p>
}
